	p {
	color: black;
	text-align: justify;
	
}
h1 {
    color: black;
    background-color: #FFD700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h2 {color: white
}

h3 {
    color: orange;
}
body {
    background-color: #cac4c4;
}
img {
    text-align: center;
}
h5 {
    color: blue;
}
h6 {
    color: blue;
}

header {
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
}

#coluna {
    color: black;
    background-color: #FFD700;
    text-align: center;
    
}

