<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0">

        <!-- Após adicionar os arquivos estáticos no projeto, codar a linha de load static -->
        {% load static %}

        <script src="{% static "/build/js/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "/build/js/bootstrap.min.js" %}"></script>
        <script src="{% static "/build/js/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "/build/js/dataTables.bootstrap.min.js" %}"></script>
        <script src="{% static "/build/js/bootstrap-dialog.min.js" %}"></script>

        <link href="{% static "/build/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "/build/css/bootstrap-theme.min.css" %}" rel="stylesheet">
        <link href="{% static "/build/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "/build/css/bootstrap-dialog.min.css" %}" rel="stylesheet">

        <title>Filmes Online Grátis</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <br>
        <div class="container-fluid">
            <div class="panel-footer">
                <strong>Powered By PET - SI  <i class="glyphicon glyphicon-copyright-mark"></i></strong>
            </div>            
        </div>
    </body>
</html>