{% extends "oficinaFilmes/base.html" %}
{% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 align="center">Oficina Django</h1>
                </div>                
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3 align="center">Cadastro de Ator</h3>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <!--  INSERIR UM FORMULÁRIO AQUI -->

                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-12" align="center">
                    <a href="{% url 'index_page' %}"><input class="btn btn-default btn-md" type="button" value="Voltar para a Lista"/></a>
                </div>
            </div>
        </div>
{% endblock %}